.cardStyle {
  background-color: #f9f7f7;
  padding-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.collapsible{
    width: 100%
}